/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f0faff;
}
.nav {
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: royalblue;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  color: white;
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
li a:hover{
  border-top: 2px solid white;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #353842;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}


.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #ffcc00;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #353842;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #353842;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

.img-slider {
    position: relative;
    width: 100vw;
    height: 75vh;
    overflow: hidden;
}
.img-slider .slider-container {
    position: absolute;
    width: 300%;
    top: 0;
    left: 0;
    overflow: hidden;
    animation: slider 20s infinite;
}
.img-slider .slider-container .slide {
    position: relative;
    width: 33.33333333%;
 
    height: 100%;
    float: left;
    overflow: hidden
}
.img-slider .slider-container .slide img {
  display: block;
  width: 100%;
  height: 100%;
}


.cont{
  margin-top: 30px;
}
.cont .content{
  width: 60%;
}
.c1{
  display: flex;
  width: 90%;
  margin: 2px auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 3em;
}
.c1 img{
  width: 30vw;
  border-radius: 6px;
}
.c1 a{
  display: block;
  border: 2px solid #ffcc00;
  padding: 5px 20px;
  margin-top: 10px;
  width: 13%;
  text-align: center;
  border-radius: 4px;
  color: #ffcc00;
  font-weight: bold;
}
.c1 a:hover{
  color: white;
  background-color: #ffcc00;
}

.contt{
 position: absolute;
 top: 200px;
 left: 300px;
 width: 100%;
}
.contt h1{
  font-size: 40px;
  color: rgb(85, 85, 85);
  letter-spacing: 2px;
  font-weight: 600;
}
.contt .srh input{
  width: 40%;
  height: 35px;
  padding: 2px 10px;
  outline: none;
  border: none;
  box-shadow: 2px 2px 1px gray;
  margin: 30px 0;
}
.contt .srh button{
  transform: translateX(100px);
  padding: 6px 25px;
  background-color: #4acaff;
  color: white;
  border: none;
  outline: none;
  box-shadow: 0px 3px 1px #20afed;
}
.contt .srh button i{
  font-size: 13px;
  margin-right: 3px;
}
::placeholder{
  font-style: italic;
}
.contt #opt{
  transform: translateX(49px);
  padding: 4px 20px;
  font-style: italic;
  color: grey;
  outline: none;
}
.reg{
  transform: translate(400px,50px);
  padding: 8px 30px;
  background-color: #4acaff;
  color: white;
  border: none;
  outline: none;
  box-shadow: 0px 3px 1px #20afed;
  cursor: pointer;
}
.contt2{
  text-align: center;
  padding: 20px 0;
}
.contt2 h2{
  font-style: italic;
  color: rgb(79, 79, 79);
  margin-top: 50px;
  font-weight: lighter;
}
.contt2 h1{
  color: #353842;
}
.contt2 h1:after{
  content: "";
  display: block;
  border: 3px solid #20afed;
  width: 100px;
  margin: 30px auto;
}
.contt2 p{
  width: 50%;
  margin: 10px auto;
}
.contt2 button{
  padding: 10px 30px;
  background: #20afed;
  border: 2px solid #20afed;
  border-radius: 6px;
  color: #20afed;
}
footer{
  background-color: #131c25;
  color: white;
  text-align: center;
  padding: 30px 0;
}
footer .inp input{
  background: none;
  outline: none;
  border: none;

  color: white;
}
footer .inp i{
  font-size: 12px;
}
footer .inp{
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18%;
  border: 2px solid #20afed;
  padding: 10px 10px;
  border-radius: 3px;
}