<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rental Listing</title>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<nav class="nav">
  <i class="uil uil-bars navOpenBtn"></i>
  <a href="#" class="logo">Demo App</a>

  <ul class="nav-links">
    <i class="uil uil-times navCloseBtn"></i>
    <li><a href="index.html" style="border-top: 2px solid white;">HOME</a></li>
    <li><a href="view_prop.html">ABOUT US</a></li>
    <li><a href="prop_listing.html">JOBS</a></li>
    <li><a href="contact.html">CLIENTS</a></li>
    <li><a href="contact.html">EMPLOYERS</a></li>
    <li><a href="contact.html">CONTACT US</a></li>
  </ul>
</nav>
<div class="slider">
  <Section class="img-slider">
    <div class="slider-container">     
      <div class="slide">
        <img src="../assets/images/1.jpg" alt="">
      </div>   
    </div>

  </Section>
</div>

<div class="contt">
  <h1><i>I'm looking for.. </i></h1>
  <div class="srh">
    <input type="text" name="srh" id="srh" placeholder="Enter a Job Description">
    <button><i class="fa fa-search"></i> Search</button>
  </div>
  <div class="opt">
    <input type="checkbox" name="" id=""> Full Time &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="checkbox" name="" id=""> Part Time/Casual/Freelance
    <select name="" id="opt">
      <option value="" selected>Select Your Location</option>
      <option value="" >Mumbai</option>
      <option value="" >Pune</option>
      <option value="" >Bangalore</option>
    </select>
  </div>
  <!-- <mat-dialog-actions>
    <button class="reg" mat-raised-button color="primary" (click)="openRegisterForm()">Register</button>
  </mat-dialog-actions> -->

</div>


<div class="contt2">
  <h2>We're leaders in</h2>
  <h1>Creative Digital Recruitment</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nemo voluptates, facere, rerum cum architecto rem ipsam expedita eos suscipit ea iste neque saepe. Enim dignissimos iste vitae iusto commodi.</p>
  <button>FIND OUT MORE ABOUT US!</button>
</div>
<footer>
  <p>Subscribe to our job seeker Mailing List</p>
  <div class="inp">
    <input type="text" name="" id="" placeholder="Enter your Email Address"><i class="fa fa-envelope"></i>
  </div>
</footer>
<script src="index.js"></script>

</body>
</html>